@model Data.Entity.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .section.nobg.full-screen.nopadding.nomargin {
        height: 800px !important;
    }

    .container-fluid.vertical-middle.divcenter.clearfix {
        margin-top: -380px !important;
    }
</style>
<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">

                <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('../../Content/images/page/slider/test3.jpeg') center center no-repeat; background-size: cover;"></div>

                <div class="section nobg full-screen nopadding nomargin">
                    <div class="container-fluid vertical-middle divcenter clearfix">

                        <div class="center">
                            <a href="@Url.Action("Index", "Home")"><img style="height:90px;" src="../../Content/images/logo.png" alt="Logo"></a>
                        </div>

                        <div class="card divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.3);">
                            <div class="card-body" style="padding: 40px;">
                                <form id="login-form" name="register-form" class="nobottommargin" action="@Url.Action("SignUp", "User")" method="post">
                                    <h3>Create Account</h3>

                                    @if (!ViewData.ModelState.IsValid)
                                    {

                                    <div class="alert alert-danger">
                                        <strong> @Html.ValidationMessageFor(m => m.Email)</strong>
                                        <strong> @Html.ValidationMessageFor(m => m.Password)</strong>
                                    </div>
                                    }

                                    <div class="col_full">
                                        <label for="login-form-username">Username:</label>
                                        <input type="text" id="login-form-username" name="username" value="" class="form-control not-dark" />
                                        @Html.ValidationMessageFor(model => model.Username)
                                    </div>

                                    <div class="col_full">
                                        <label for="login-form-username">Email:</label>
                                        <input type="email" id="login-form-email" name="email" value="" class="form-control not-dark" />
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>

                                    <div class="col_full">
                                        <label for="login-form-password">Password:</label>
                                        <input type="password" id="login-form-password" name="password" value="" class="form-control not-dark" />
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>

                                    <div class="col_full">
                                        <label for="login-form-password">Confirm Password:</label>
                                        <input type="password" id="login-form-password" name="ConfirmPassword" value="" class="form-control not-dark" />
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </div>


                                </form>

                                <div class="line line-sm"></div>

                                <div class="center">
                                    <button form="login-form" type="submit" class="button button-3d button-black nomargin" id="login-form-submit" name="register" value="Sign up">Sign up</button>

                                </div>
                            </div>
                        </div>

                        <div class="center dark"><small>Copyrights &copy; All Rights Reserved by Canvas Inc.</small></div>

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

  
